/****************************/
/** General Configurations **/
body { 
	background:		none;
	color:			#000;
	font-family:	"Georgia", "Palatino",sans-serif;
	font-size:		12px;
	font-weight:	100;
	line-height:	1.25em;

}

a:focus, a:hover	{ color: #07f;  }
a:visited			{ color: #059;}

.author { font-size: 1em; font-style: normal; }

/*******************/
/* CLICKABLE FLAGS */
.clickable-flag {
	border:				1px solid #bbb;
	background:			#eee;
	display:			inline-block;
	font-family:		"Univers Condensed", "Linotype Univers", verdana, sans-serif;
	font-size:			1em;
	padding:			2px;
	-moz-border-radius:	5px;
	border-radius:		5px;
}

.clickable-flag a {
	display:			inline-block;
	text-decoration:	none;
	font-color:			red;
}

.clickable-flag .x {
	display: 			inline-block;
	color: 				red;
}
/*******************/

.field_with_errors {
	padding:			0px;
	margin: 			0px;
}

.highlight {
	background:			#ffffaa;
	border:				1px dotted #aaa;
	margin: 			3px;
	padding:			2px;
}

.hide-me {
	position: 			absolute; 
	left: 				-9999px;
}